.notification {
    position: fixed;
    bottom: 20px;
    right: 500px;
    z-index: 1000;
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .alert-success {
    background-color: green;
    color: white;
  }
  